.titleStyle {
    color: var(--black);
    // font-family: ;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 33px;
    text-align: start;
    padding-top: 30px;
    padding-bottom: 30px;
}