@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
    // Colors
    --dimfray: #707070;
    --red: #FF0000;
    --jet: #333333;
    --black: #000;
    --white: #fff;
    --battleshipgray: #999999;
    --antiflashwhite: #EBEBEB;


    // Fonts
    --opensans: 'Open Sans', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --helvetica: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--opensans);
}