

:root {
    // Colors
    --dimfray: #707070;
    --red: #FF0000;
    --jet: #333333;
    --black: #000;
    --white: #fff;
    --battleshipgray: #999999;


    // Fonts


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    // background-color: blue;
}